@font-face {
    font-family: 'furoreregular';
    src: url('assets/furore/Furore-webfont.ttf');
    src: url('assets/furore/Furore-webfont.woff') format('woff'),
         url('assets/furore/Furore-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
	width: 7px;
	background-color: #82B4AC;
}

::-webkit-scrollbar-thumb {
	background-color: #928A97;
}

#ResourcesBar {
	display: table;
	position: absolute;
	
	height: 5%;
	font-family: furoreregular;
	color: white;
	width: 100%;
	background: linear-gradient(#7453e9 0%, #ac99f2 100%);
	border-bottom: 1px white solid;
	z-index: 1;
	
	-webkit-user-select: none;
	cursor: default;
}

#Credits {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	
	width: 20%;
	height: 100%;
}

#Science {
	display: table-cell;
	vertical-align: middle;
	
	width: 20%;
	height: 100%;
}

#ResourceProcessing {
	display: inline;
	z-index: 1;
	position: absolute;
	color: white;
	background-color: red;
	width: 60%;
	height: 70%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	border: 2px solid #9696a1;
	font-family: furoreregular;
	-webkit-user-select: none;
	-moz-user-select: none;
	
	cursor: default;
	visibility: hidden;
}

#ResourceProcessingLabel {
	display: table;
	top: 0;
	
	position: relative;
	width: 100%; 
	height: 10%; 
	text-align: center; 
	background-color: gray;
	color: white;
	overflow: hidden;
	margin: auto;
	
	-webkit-user-select: none;
	-moz-user-select: none;
}

#ResourceProcessingLabelText {
	display: table-cell;
	vertical-align: middle;
}

#MainResourceFactory {
	display: table;
	
	position: relative;
	width: 100%; 
	height: 50%; 
	text-align: center; 
	background-color: #424242;
	color: #A8A8A8;
	overflow: hidden;
	margin: auto;
}

#BlueprintSearchList {
	display: table;
	position: relative;
	
	width: 100%;
	height: 15%;
	background-color: teal;
	border-top: white 1px solid;
}

#BlueprintSearchBarSpan {
	display: table-cell;
	
	width: 100%;
	
	height: 100%;
	
	vertical-align: middle;
	
	text-align: center;
}

#BlueprintSearchBar {
	vertical-align: middle;
	
	width: 50%;
}

#BlueprintsList {
	display: inline;
	position: absolute;
	
	left: 0;
	top: 0;
	
	width: 25%;
	height: 100%;

	background: #424242;
	border-right: 2px solid white;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

.Blueprint {
	display: table;
	
	width: 100%;
	height: 15%;
	background-color: green;
	border-top: white 1px solid;
}

.BlueprintOutputName {
	display: table-cell;
	
	vertical-align: middle;
	
	text-align: left;
}

.BlueprintTimeRequired {
	display: table-cell;
	
	vertical-align: middle;
	
	text-align: right;
	
	padding-right: 1%;
}

#BlueprintGeneralInfo {
	display: inline;
	position: absolute;
	
	background-color: #424242;
	
	left: calc(50% + 2px);
	top: 0;
	
	height: 100%;
	width: calc(50% - 2px);
}

#BlueprintGeneralInfoInfo {
	display: table;
	background-color: #424242;
	
	color: white;
	
	border-right: 2px solid white;
	border-top: 2px solid white;
	
	width: calc(70% - 2px);
	height: 100%;
	
	left: 0;
}

#BlueprintGeneralInfoOutput {
	display: inline-table;
	
	width: 100%;
	
	text-align: left;
}

#BlueprintGeneralInfoCraftingTime {
	display: inline-table;
	
	width: 100%;
	
	text-align: left;
}

#BlueprintGeneralInfoLabel {
	display: table;
	top: 0;
	
	position: relative;
	width: 100%; 
	height: 15%;
	text-align: center; 
	background-color: gray;
	color: white;
	overflow: hidden;
	margin: auto;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	
	border-top: 1px solid white;
}

#BlueprintGeneralInfoInput {
	display: table;
	position: absolute;
	
	width: 30%;
	height: 45%;
	
	border-top: 2px aqua solid;
/* 	border-left: 2px aqua solid; */

	color: white;
	
	bottom: 0;
	right: 0;
	
	background-color: fuchsia;
}

#BlueprintGeneralInfoAmountFieldContainer {
	position: absolute;
	
	width: 100%;
	height: 50%;
	
	background-color: orange;
}

#BlueprintStartButton {
	position: absolute;
	
	width: 100%;
	height: 50%;
	
	bottom: 0;
	
	background-color: grey;
}

#BlueprintStartButton:hover {
	background-color: darkgrey;
}

#BlueprintGeneralInfoLabelText {
	display: table-cell;
	
	vertical-align: middle;
	
}

#BlueprintInputList {
	display: inline;
	position: absolute;
	
	left: calc(25% + 2px);
	top: 0;
		
	background-color: #424242;
	
	border-right: white 2px solid;
	
	height: 100%;
	width: calc(25% - 2px);
	
	overflow-y: scroll;
	overflow-x: hidden;
}

#BlueprintInputLabel {
	display: table;
	top: 0;
	
	position: relative;
	width: 100%; 
	height: 15%;
	text-align: center; 
	background-color: gray;
	color: white;
	overflow: hidden;
	margin: auto;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	
	border-top: 1px solid white;
}

#BlueprintInputLabelText {
	display: table-cell;
	
	vertical-align: middle;
	
}

.BlueprintInput {
	display: table;
	
	width: 100%;
	height: 15%;
	background-color: #757171;
	border-top: white 1px solid;
}

.BlueprintInputName {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.BlueprintQuantityRequired {
	display: table-cell;
	
	vertical-align: middle;
	
	text-align: right;
	
	padding-right: 1%;
}

#ResourceHoldFactory {
	display: table;
	
	position: relative;
	width: 100%;
	height: 40%;
	text-align: center;
	background-color: aqua;
	color: #A8A8A8;
	overflow: hidden;
	margin: auto;
}


#Market {
	display: inline; 
	z-index: 1; 
	position: absolute; 
	color: white; 
	width: 70%; 
	height: 60%; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	text-align: center; 
	border: 2px solid #9696a1;
	font-family: furoreregular;
	-webkit-user-select: none;
	
	cursor: default;
	visibility: hidden;
}

#Label {
	display: table;
	
	position: relative;
	width: 100%; 
	height: 10%; 
	text-align: center; 
	background-color: #424242;
	color: #A8A8A8;
	overflow: hidden;
	margin: auto;
}

#LabelText {
	display: table-cell;
	vertical-align: middle;
}

#ResourceList {
	position: relative;
	width: 100%; 
	height: 90%; 
	text-align: center; 
	background: linear-gradient(#0B0B0B 0%, #272727 100%);
	color: #919191; 
	overflow-y: scroll;
	overflow-x: hidden;
}

.ResourceCategory {
	display: table;
	position: relative;
	
	width: 100%;
	height: 10%;
	background: orange;
	
	border-bottom: 1px white solid;
}

.ResourceCategory:hover {
	background: green;
}

.CategoryName {
	display: table-cell; 
	vertical-align: middle; 
}

#Resources {
	width: 70%; 
	height: 100%; 
	text-align: left; 
	background-color: #E9E5E3; 
	color: #969493; 
	float: right; 
	overflow-y: scroll;
}

.Resource {
	position: relative;
	display: table;
	width: 100%;
	height: 10%;
	background-color: #DCD8D7;
	border-bottom: 1px white solid;
}

.ResourceName {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 25%;
}

.ResourceTrade {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.ResourceCost {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 25%;
}

#ResourceAmount {
	border: white 2px solid;
	border-radius: 2px;
	width: 25%;
}

.ResourceCost {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 25%;
}

input {
	border: white 2px solid;
	border-radius: 2px;
	width: 25%;
}

#MarketMenu {
	position: relative;
	display: table;
	width: 100%;
	height: 10%;
	background-color: #DCD8D7;
	border-bottom: 1px white solid;
	
	vertical-align: middle;
}

#MarketButtons {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#CargoHold {
	display: inline; 
	z-index: 1; 
	position: absolute; 
	color: white; 
	width: 20%; 
	height: 50%; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	text-align: center; 
	border: 2px solid #9696a1;
	font-family: furoreregular;
	-webkit-user-select: none;
	
	background-color: #424242;
	visibility: hidden;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

.CargoResource {
	position: relative;
	
	width: 100%;
	height: 15%;
	
	background-color: #DCD8D7;
	border-bottom: white 2px solid;
}

#HoldLabel {
	width: 100%;
	height: 15%;
	
	background-color: #DCD8D7;
	border-bottom: white 2px solid;
}